.login_page_center {
    margin: auto;
    width: 50%;
    padding: 10px;
    /* text-align: center; */
}
.login_page_heading {
    padding-top: 20px;
    padding-bottom: 20px;
}
a {
    color: gray;
    text-decoration: underline;
    text-decoration-color: gray;
}

.forgot_password_page_center {
    margin: auto;
    width: 50%;
    padding: 10px;
    /* text-align: center; */
}
.forgot_password_page_heading {
    padding-top: 20px;
    padding-bottom: 20px;
}

.forgot_password_code_center {
    margin: auto;
    width: 50%;
    padding: 10px;
    /* text-align: center; */
}
.forgot_password_code_heading {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logged_in{
  margin: auto;
  width: 50%;
  padding: 10px;
}
